<div *ngIf="(produits$ |async ) as produits" class="container">
  <button [disabled]="isDisabled" class="btn btn-primary" (click)="loadMore()">More Products</button>

  <div class="alert alert-warning">
    Nombre de produits: {{ produits?.length }}
  </div>
  <div class="row">
    <div class="col-4" *ngFor="let produit of produits">
      <div class="mb-2" style="max-width: 540px;">
        <div class="row">
          <div class="col-md-4">
            <img src={{produit.thumbnail}} class="rounded-circle" style="height: 100px ;width: 100px; object-fit:cover;">
          </div>
          <div class="col-md-8">
              <p>{{produit.title}}</p>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>