<form [formGroup]="loginForm" (ngSubmit)="login()">
    <label for="email">Email</label>
    <input type="email" formControlName="email" class="form-control" id="email" placeholder="Email"
                    [ngClass]="{ 'is-invalid': f['email'].touched && f['email'].errors }" />
                  <div *ngIf="f['email'].touched && f['email'].errors" class="invalid-feedback">
                    <div *ngIf="f['email'].errors['email']">the email must be a valid email</div>
                  </div>
    <label for="password">Mot de passe</label>
    <input type="password" class="form-control" formControlName="password" placeholder="Enter password"
                      [ngClass]="{ 'is-invalid': f['password'].touched && f['password'].errors }" aria-label="Password">
                    <div *ngIf="f['password'].touched && f['password'].errors" class="invalid-feedback">
                      <span *ngIf="f['password'].errors['minlength']">the minumum length of the password is 4  </span>
                    </div>
    <button class="btn btn-primary mb-2 mt-2" [disabled]="loginForm.invalid" type="submit">login</button>
    <div class="alert alert-danger" *ngIf="error">
        veillez verifier vos informations
    </div>
</form>